@font-face {
  font-family: 'GangwonEdu_OTFBoldA';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2201-2@1.0/GangwonEdu_OTFBoldA.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'KyoboHand';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@1.0/KyoboHand.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
body{
  background-color: #FAFAFA;
  z-index:2;
}
header {  
  height: 75px;
  padding: 1rem;
  color: white;
  background: #00BFA6;
  font-weight: bold;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: 'KyoboHand';
  font-size:larger;
}
#center{
  position:relative;
  top:50px;
  float:left;
  height:800px;
  width:100%;
}
#menu{
  position:relative;
  left:17%;
  top:100px;
  height:300px;
  width:200px;
  text-align: center;
  font-family: 'KyoboHand';
  font-size:larger;
}
#detail{
  position:relative;
  top:5%;
  left:15%;
  margin-top:10px;
  height:50px;
  width : 150px;
  border-bottom: 1px solid black;
}
#menut{
  position:relative;
  top:-10%;
}
#icons{
  width:30px;
  height:30px;
}
#list{
  position:relative;
  left:34%;
  height:700px;
  top:-270px;
  width:48%;
}
#diary{
  border-radius: 15px;
  width:250px;
  height:250px;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  background-color:white;
  border:0px;
  margin-bottom: 41px;
  margin-right: 41px;
}
#next{
  width:92%;
}
#left{
  width:62px;
  height:62px;
  background-size:cover;
  background-color: #FAFAFA;
  background-image:url("images/direction.png");
  border:0px;
}
#right{
  position: relative;
  width:62px;
  height:62px;
  background-size:cover;
  background-color: #FAFAFA;
  background-image:url("images/direction2.png");
  border:0px;
  float:right;
}
a {
  text-decoration: none;
  color: black;
}
#modal{
  z-index: 1;
  position: absolute;
  display:none;
  top:25%;
  left:25%;
  width:50%;
  height:50%;
  background: rgba(255, 255, 255, 0.25);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(1.5px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
}
.swal-wide{
  width:1000px;
}